.row {
  background: sandybrown;
}


.compare  {
  height: 400px;
  border-top:5px solid #812121;
}

#NAW1 {
  li{
    font-size: 25px;
    padding: 0 20px 0 20px ;
    font-family:monospace, sans-serif;

    a:hover {
      color:wheat;
    };

  };
}

#heightImage{

  padding: 0;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
  };
  background:brown;

  h2{
    position:absolute;
    top:10px;
    left:10px;
    font-size: 45px;
    line-height: 55px;
    padding: 15px 10px;
    span{

        color:firebrick;
        background: rgba(120,90,70,0.5);

    };
  };
}

h3{
  position:absolute;
  top:10px;
  left:90%;
  font-size: 45px;
  line-height: 55px;
  padding: 15px 10px;
  span{

    color:firebrick;
    background: rgba(120,90,70,0.5);

  };
};




#middleImage{

  padding: 0;
  overflow: hidden;
  img{
    width: 100%;
  };
  background:brown;
}

