.row {
  background: #122b40;
}


.compare  {
  height: 400px;
  border-top:5px solid #812121;
}

#NAW1 {
  li{
    font-size: 25px;
    padding: 0 20px 0 20px ;
    font-family:monospace, sans-serif;

    a:hover {
      color:orangered;
    };

  };
}

#heightImage{

  padding: 0;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
  };
  background:brown;
  h2{
    position:absolute;
    top:10px;
    left:10px;
    font-size:4em;
    line-height: 1.5em;
    padding: 15px 10px;
    span{
        font-family:"Comic Sans MS";
        color:orangered;
        text-shadow: 2px 2px 0 black;


    };
  };
}





#middleImage{

  padding: 0;
  overflow: hidden;
  img{
    width: 100%;
  };
  background:brown;
}

